$color: #34495e;

.panel {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  &__itemBtn {
    font-size: 22px;
    color: $color;
    background: none;
    border: $color 2px solid;
    cursor: pointer;
    transition: 0.5s all;
    user-select: none;
  }

  &__item {
    &:nth-of-type(n + 2) {
      .panel__itemBtn {
        border-left: none;
      }
    }
    &_active {
      .panel__itemBtn {
        background-color: $color;
        color: #fff;
      }  
    }
  }

  &__content {
    margin-top: 20px;
  }
}